.sudoku-grid {
  display: inline-block;
  border: 3px solid #000;
  padding: 2px;
  background-color: #000;
}

.sudoku-row {
  display: flex;
}

.sudoku-row:nth-child(3n) .sudoku-cell {
  border-bottom: 3px solid #000;
}

.sudoku-cell:nth-child(3n) {
  border-right: 3px solid #000;
}

.sudoku-cell:not(:nth-child(3n)) {
  border-right: 1px solid #ccc;
}

.sudoku-row:not(:nth-child(3n)) .sudoku-cell {
  border-bottom: 1px solid #ccc;
}
